@font-face {
  font-family: "Linux Biolinum";
  src: local("Linux Biolinum O"), url(./LinBiolinum_R.woff);
}
* {
  font-family: "Linux Biolinum", sans-serif;
  text-shadow: 0px 1px 1px black;
  line-height: 1.4em;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #abcdef;
  outline: 0;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #789abc;
}

html {
  background: #123456;
  color: #abcdef;
  max-width: 15cm;
  margin: auto;
  text-align: justify;
}

h1 {
  font-family: monospace;
  font-variant: small-caps;
  letter-spacing: 0.5em;
  text-align: center;
  border-bottom: 1px solid #abcdef;
  border-bottom-left-radius:  50px 2px;
  border-bottom-right-radius: 50px 2px;
}

table {
  margin: auto;
  border-collapse: collapse;
}
table > tbody > tr > th {
  border-bottom: 1px solid #abcdef;
  padding: 12px;
  text-align: center;
}
table > tbody > tr > th + td {
  border-left: 1px solid #abcdef;
  padding-left: 12px;
}
table > tbody > tr > td {
  text-align: right;
  padding: 12px 12px 0 0;
}

