@font-face {
  font-family: "Linux Biolinum";
  src: local("Linux Biolinum O"), url(./LinBiolinum_R.woff);
}
body { margin: 0; font-family: "Linux Biolinum", Helvetica, Arial, "Lucida Grande", sans-serif; }
.maincanvas {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
#info {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 4px;
  opacity: 0.7;
  font-size: 13px;
  background: #123456;
  color: #abcdef;
  border-top-left-radius: 4px;
}
#hoverResourceDisplay {
  position: absolute;
  display: none;
  background: #222;
  border-radius: 4px;
  border: solid 1px #555;
  padding: 7px;
  z-index: 2;
}

#controller { position: absolute; z-index: 1; }
#controller > svg { width: 50px; height: 50px; float: left; }
#controller > svg > path { cursor: pointer; }
.hex { stroke: white; stroke-width: 1.8px; }
.gum { stroke: white; stroke-width: 1.5px; }
.dust { stroke: #aaa; }
.controlPanel {
  display: none;
  border: 2px solid white;
  color: #f7f;
  background: #800080;
  position: relative;
  clear: left;
  max-height: calc(100vh - 16px - 58px);
  overflow: auto;
  top: -16px;
  z-index: -1;
  width: 196px;
  padding: 10px 0;
  text-align: center;
  box-shadow: 2px 2px 12px black;
  border-bottom-right-radius: 100% 12px;
  border-top-right-radius: 10px 60px;
  border-top-left-radius: 10px 60px;
  border-bottom-left-radius: 3px;
}
.controlPanel > p { padding: 10px; }
.separator {
  display: block;
  position: relative;
  top: 10px;
  width: 80%;
  height: 1px;
  border: 0;
  background-image: linear-gradient(to right, #800080, #f7f, #800080);
  border-radius: 100%;
  box-shadow: 0 0 3px #f7f;
  margin: auto;
}
p { margin-top: 0; margin-bottom: 0; }
.help { cursor: help; }

/* Travel */
.attack-info {
  text-align: left;
  margin: 0 0 0 25px;
}
.attack-info > dd {
  margin-left: 15px;
  font-size: 12px;
}
.exclusion-box {
  display: table;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
}
.exclusion-but { display: table-cell; }
.exclusion-but > input { display: none; }
.exclusion-but > label {
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 0 5px #4B1653;
  transition: 0.3s box-shadow;
}
.exclusion-but > label:hover {
  box-shadow: 0 0 5px #4B1653 inset, 0 0 5px #4B1653;
}
.exclusion-but > label:active,
.exclusion-but > input:focus + label,
.exclusion-but > input:checked + label {
  box-shadow: 0 0 35px #4B1653 inset;
}

/* Build */
.buildHelp {
  height: 0;
  display: block;
  font-size: 0em;
  font-style: italic;
  font-variant: normal;
  letter-spacing: normal;
  transition: font-size .3s 1s, height .3s 1s;
  -webkit-transition: font-size .3s 1s, height .3s 1s;
}
.buildSelection {
  font-variant: small-caps;
  letter-spacing: 3px;
  transition: box-shadow 1.2s;
  -webkit-transition: box-shadow 0.6s;
  margin: 0;
  padding: 5px 0;
  cursor: default;
  /* Invalid by default */
  color: #403;
  text-shadow: -1px -1px 0px #949, 1px 1px 0px #727, -1px 1px 0px #727, 1px -1px 0px #949;
  font-size: 0.9em;
}
.buildSelection:hover:not(.validSelection) {
  color: #d5d;
  text-shadow: 0px 1px 0px #333;
}
.buildSelection:hover > .buildHelp {
  font-size: 0.7em;
  height: 100%;
}
.validSelection {
  color: #f7f;
  cursor: pointer;
  background: #800080;
  text-shadow: 0px 1px 0px #333;
}
.validSelection:hover {
  animation: build-selection 1.2s ease-in 0s infinite alternate;
  -webkit-animation: build-selection 1.2s ease-in 0s infinite alternate;
}
@keyframes build-selection {
  from { background-color: #700070; }
  to {
    box-shadow: inset 0 40px 7px -40px rgba(255,119,255,0.3), inset 0 -40px 7px -40px rgba(255,119,255,0.3), 0 0 2px #f7f;
    background-color: #800080;
  }
}
@-webkit-keyframes build-selection {
  from { background-color: #700070; }
  to {
    box-shadow: inset 0 40px 7px -40px rgba(255,119,255,0.3), inset 0 -40px 7px -40px rgba(255,119,255,0.3), 0 0 2px #f7f;
    background-color: #800080;
  }
}

/* Places */
#placesPanel > p[data-tilekey] { cursor: pointer; }
#placesPanel .arrow {
  float: left;
  width: 0;
  font-size: 16px;
  -webkit-transform-origin: 5px;
  transform-origin:         5px;
}

#helpPane {
  display: none;
  position: absolute;
  top: 50px;
  left: 20px;
  width: calc(100% - 44px);
  max-height: calc(100% - 74px);
  border: 2px solid white;
  border-radius: 2px;
  opacity: 0.9;
  z-index: 1;
}

#populationMonitor {
  position: absolute;
  top: 55px;
  left: 7px;
  width: 187px !important;
  height: 10px !important;
  z-index: -2;
}

/* Resources panel */
#resourcesPanel {
  position: absolute;
  top: 73px;
  left: 7px;
  padding: 5px;
  background: #222;
  border: 2px solid #111;
  border-radius: 4px;
  font-style: italic;
  z-index: -2;
  box-shadow: #555 1px 1px inset, #555 -1px -1px inset;
}
#resourcesPanel th { text-align: left; }
#resourcesPanel td { text-align: center; }
.Folks { color: pink; }
.Wealth { color: #dd0; }
.Stock { color: #ea0; }
.Production { color: #99f; }
.Health { color: #e5f; }
